apiVersion: apps/v1
kind: Deployment
metadata:
  name: myao2
spec:
  template:
    spec:
      containers:
        - name: myao2
          resources:
            requests:
              memory: "512Mi"
              cpu: "200m"
            limits:
              memory: "1Gi"
              cpu: "1000m"
