apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - configmap.yaml
  - pvc.yaml

commonLabels:
  app: myao2
  app.kubernetes.io/name: myao2
  app.kubernetes.io/component: chatbot
