{% macro render_messages(messages) %}
    {% for msg in messages %}
**{{ msg.timestamp | format_timestamp }}** {{ msg.user.name }}:
{{ msg.text }}

    {% endfor %}
{% endmacro %}
{% if workspace_long_term_memory %}
## ワークスペースの概要
{{ workspace_long_term_memory }}

{% endif %}
{% if channel_memories %}
## 各チャンネルの最近の出来事

    {% for channel in channel_memories.values() %}
        {% if channel.short_term_memory %}
### #{{ channel.channel_name }}
{{ channel.short_term_memory }}

        {% endif %}
    {% endfor %}
{% endif %}
## 現在の会話

現在は、#{{ current_channel_name }} チャンネルにいます。

{% if target_thread_ts %}
### トップレベル

{{ render_messages(top_level_messages) }}
## 判定対象スレッド: {{ target_thread_ts }}

{{ render_messages(target_thread_messages) }}
{% else %}
## 判定対象: トップレベル会話

{{ render_messages(top_level_messages) }}
{% endif %}
---
現在時刻: {{ current_time }}

上記の判定対象の会話を分析し、{{ persona.name }}として応答すべきかを判断してください。
